@import "../../styles/App";
.dashboard-layout{

  .side-menu{
    width: 100px;
    text-align: center;
    padding: 4rem 0;
    background-color: color(blue);

    &-item{
      margin-bottom: 5rem;
      &-icon{
        filter: invert(1);
        display: inline-block;
        width: 40px;
        height: 40px;
      }
    }
  }


  .top-nav{

    &-title{
      font-size: $bigSize;
      font-weight: 600;
    }

    &-menu{
      display: flex;
      color: color(blue);
      &-item{
        font-size: $mediumSize;
        display: flex;
        align-items: center;
        margin-right: 2rem;
        img{
          width: 30px;
          filter: invert(21%) sepia(95%) saturate(1154%) hue-rotate(203deg) brightness(94%) contrast(89%);
        }

        &:last-of-type{
          margin-right: 0;
        }
      }
    }


    .profile-image{
      width: 50px;
      border-radius: 50%;
      height: 50px;
      filter: none;
    }

  }

  .content-section{
    &-inner{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: auto;
    }
  }
}