$colors: (
  primary: #29489b,
  secondary: #788EEB,
  white: #ffffff,
  gray: #7e7d7d,
  neutral: #F9F8FE,
  shadow: #8B7762,
  black: #010101,
        green: #6de76d,
);

@function color($color) {
  @return map-get($map: $colors, $key: $color);
}
